# adapt the paths to fit your local system

TMP_DIR_PATH .
PREPROC_CMD  ./sailAlignWrapper/preprocessText/preprocessText
CONVERT_CMD  ./sailAlignWrapper/convertAlignment/convertAlignment
SAILALIGN_CMD sail_align

# language definitions

english /home/farindk/src/sail_align/config/timit_alignment.cfg /home/farindk/src/sail_align/language/cmu_dictionary.dic
spanish /home/farindk/src/sail_align/config/spanish_alignment.cfg /home/farindk/src/sail_align/language/spanish/voxforge_lexicon_spanish
